{% extends 'base.html' %}
{% block 'indexpa' %}


<br>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary pull-left" data-toggle="modal" data-target="#exampleModal" dir="rtl">
  إضافة
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" dir="rtl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">إضافة إدارة او وحدة</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" dir="rtl">
        <form method="POST" enctype="multipart/form-data" id="myform" data-parsley-validate="">
          
            {% csrf_token %}
          
         
            <div class="mb-3" dir="rtl">
              <label dir="rtl">ادخل اسم الادارة:</label>
              <input type="text" id="name" name="name" class="form-control"  required=""/>
          </div>
           
        </form>
    </div>

    
    <div class="modal-footer" dir="rtl">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
        <button type="button" class="btn btn-primary" id="submitpa">إضافة</button>
    </div>
</div>
  </div>
</div>

<br>

<div id='tablecont'>
</div>


<div id='edit'>
</div>


{% endblock 'indexpa' %}


{% block 'js' %}

<script type="text/javascript">
    

   
      function fetch() {
        $.ajax({
          type: 'GET',
          url: 'tablepa/',
          success: function(response) {
            console.log(response);
            $('#tablecont').html(response);
            $('#tablepa').DataTable({
              pageLength: 6 
            });
          },
          error: function(xhr, status, error) {
            alert(xhr.responseText);
          }
        });
      }
      fetch();
      var instance = $('#myform').parsley();
      $(document).on('click', '#submitpa', function(event) {
        event.preventDefault();
        if (!instance.isValid()) {
        
          instance.validate();
          return;
      }
        
      
        var $name = $('#name').val();
      
        var form_data = new FormData();
        form_data.append('name', $name);
        form_data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
      
        $.ajax({
          type: 'POST',
          url: 'insertpa/',
          data: form_data,
          contentType: false,
          processData: false,
          beforeSend: function() {
            // Code to execute before sending the request
          },
          success: function() {
            fetch();
            toastr.success('تمت الاضافة بنجاح.');
            $('#name').val('');
            $('#exampleModal').modal('hide');
          },
          error: function(xhr, status, error) {
            alert(xhr.responseText);
          },
          complete: function() {
            // Code to execute after the request completes
          }
        });
      
      });

    $(document).on('click', '.delete-btn', function(event) {
            
        event.preventDefault();       
        var postId = $(this).data('id');
        var csrfToken = "{{ csrf_token }}";
      
        bootbox.confirm({
            message: "هل تريد حذف العنصر؟",
            buttons: {
                confirm: {
                    label: 'نعم',
                    className: 'btn-danger'
                },
                cancel: {
                    label: 'لا',
                    className: 'btn-secondary'
                }
            },
            callback: function(result) {
                if (result) {
                    $.ajax({
                        type: 'DELETE',
                        url: 'deletepa/' + postId + '/',
                        data: {
                            csrfmiddlewaretoken: csrfToken
                        },
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader("X-CSRFToken", csrfToken);
                        },
                        success: function(response) {
                          toastr.success('تمت الحذف بنجاح.');

                            fetch()

                        },
                        error: function(xhr, errmsg, err) {
                            console.log(xhr.status + ": " + xhr.responseText);
                        }
                    });
                }
            }
        });
    });


    $(document).on('click', '.edit-btn', function(e) {
      e.preventDefault();
      var postId = $(this).data('id');
      console.log(postId)
      
      $.ajax({
          type: 'GET',
          url: '/indexpa/edit/' + postId + '/',
          success: function(response) {
              $('#edit').html(response);
              
              $('#editpa').modal('show');
          },
          error: function(xhr, errmsg, err) {
              console.log(xhr.status + ": " + xhr.responseText);
          }
      });
  });
  
  
  $(document).on('click', '#submitupdate', function(e) {
      e.preventDefault();
      
      var form = $('#edit-form');
      var formData = form.serialize();
      
      var postId = $(this).data('id');
      console.log(postId)
      
      $.ajax({
          type: 'POST',
          url: '/indexpa/update/' + postId + '/',
          data: formData,
          success: function(response) {
              if (response.success) {
                toastr.success(' تم النحديث بنجاح');
                  fetch()
                  console.log('Update successful!');
              } else {
                  console.log('Update failed.');
              }
              
              $('#editpa').modal('hide'); 
          },
          error: function(xhr, errmsg, err) {
              console.log(xhr.status + ": " + xhr.responseText);
          }
      });
  });


   

   

    </script>
    {% endblock 'js' %}