{% load static %}
<table id="tablepa"  dir="rtl" class="table cell-border" style="margin: 0 auto; border:5px solid;text-align:center;border-radius: 10px; border-color: #96D4D4;">
    <thead >
        <tr>
            <th>اسم الادارة</th>
            <th class="px-1 py-2 font-medium text-jibuttonBlue text-left">
                <div class="">
                  
                  <img src="{% static 'img/work.png' %}" alt="" height='40' width='40'>
                </div>
              </th>

        </tr>
    </thead>
    <tbody>
        {% for all_public_ads in all_public_ads %}
        <tr>
            <td>{{ all_public_ads.name }}</td>
          
            
            <td>
                <div class="dropdown">
                    <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton{{ all_public_ads.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        العمليات
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ all_public_ads.id }}">
                        <a class="dropdown-item delete-btn" href="#" data-id="{{ all_public_ads.id }}">حذف</a>
                        <a class="dropdown-item edit-btn" href="#" data-id="{{ all_public_ads.id }}">تعديل</a>
                    </div>
                </div>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="9">NO Data Display</td>
        </tr>
        {% endfor %}
    </tbody>
</table>



  <script>
      $(document).ready(function() {
          $('.dropdown-toggle').dropdown();
      });
  </script>